<!DOCTYPE HTML>
<html>
	<head>

	  <title>Полученные ответы</title>
	   
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script>
	   		function hide(id){
	        	//Если элемент с id-шником element_id существует
                if (document.getElementById(id)) { 
                    //Записываем ссылку на элемент в переменную obj
                    var obj = document.getElementById(id); 
                    //Если css-свойство display не block, то: 
                    if (obj.hidden==true) { 
                        obj.hidden=false;
                    }
                    else { 
                        obj.hidden=true
                    }
                }
	    
	   		}
	  	</script>
	</head>

	<body>
		<div class="container">
		<div class="row">
			<div class="navbar navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<button type="button" style="background-image:linear-gradient(to top,#e0e0e0,#fff);border-color:rgb(235,235,235);width:100%;height:100%" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
							<span class="sr-only">Открыть навигацию</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="responsive-menu">
						<ul class="nav navbar-nav">
							<li><a class="navbar-brand" href="/">Home</a></li>
							<li><a class="navbar-brand" href="/articles">Articles</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


		<div style="position:fixed;top:90px;width:100%;overflow:auto;height:85%">


		<div class='container'>
			{%- block content %}
			<table class="table table-striped table-bordered">
				{% if q_date %}
				<tbody>
					<tr style="background:rgb(255,255,255)">
						<td width="100">{{ q_date }}</td>
						<!--<td width="100">15:34</td>-->
					</tr>
				</tbody>
				{% endif %}
			
				{% if short_quest and full_quest %}
			</tbody class="table table-striped table-bordered">
			<table class="table table-striped table-bordered">
				<tbody>
					<tr style="background:rgb(242,242,242)">
						<td><strong>{{ short_quest | capitalize}}</strong></td>
					</tr>
					<tr style="background:rgb(250,250,250)">
						<td>{{ full_quest | capitalize }}</td>
					</tr>
				</tbody>
				{% endif %}
			</tbody>
			<table class="table table-striped table-bordered">	
				{%- for answ in all_answers %}
				<tbody>
					<tr style="background:rgb(242,242,242)">
						<td width="30px"><strong>{{ loop.index }}</strong></td>
						<td style="background:rgb(250,250,250)">{{ answ[0] | capitalize }}</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			
			{%- endblock content %}

		</div>
	</body>
</html>