﻿<html lang="en"> 
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Анализ от 517</title>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!--<link type='text/css' href= "{{ url_for('static',filename='style.css') }}" rel='stylesheet'>-->
		<script>
			function hide(id){
			  if (document.getElementById(id)){
				var obj = document.getElementById(id);
				if(obj.hidden==true){
				  obj.hidden=false;
				} else {
				  obj.hidden=true;
				}
			  }
			}
			
		</script>
                <script>
			function checkk(){
                          var s=''
				var obj2 = document.getElementById("check_text");
                          for (i=0;i<=37;i++){
			    var stri='ch_'+i.toString();
                                var obj = document.getElementById(stri);
				if(obj.checked==true){
				  s=s+'1';
				} else {
				  s=s+'0'
				}

			  }
                         obj2.value=s
			}
			
		</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 

	</head>
	
	<body>
	<div class='container'>
		<div class="row">
			<div class="navbar navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
							<span class="sr-only">Открыть навигацию</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="responsive-menu">
						<ul class="nav navbar-nav">
							<li><a class="navbar-brand" href="/">Home</a></li>
							<li><a class="navbar-brand" href="/articles">Articles</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-lg-8'></div>
	<div class="container">
		<h1>Анализ правовых сайтов</h1>
	</div>

	<div class='container'>
		<form class="form-search" action="/questions" autocomplete="on">
			<div class="input-group">
			<input class="form-control" id="appendedInputButton" type="text" name="search" placeholder="Search.." >
			<div class="input-group-btn">
			<button name='search_by' id="search_by" type="submit" value="Найти" class="btn btn-default " onclick=checkk()>Найти</button>
			</div>
			<label class="checkbox inline"><input id="check_text" type="text" name="checkboxes" value=checkk() style="width:87%" hidden></label>
			</div>
		</form>
		<h4>Выберите тему/подтему для поиска</h4>
	</div>
	
		<div class='container'>
		
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th width="30px"></th>
						<th>Название темы</th>
						<th width="90px">Количество</th>
					</tr>
				</thead>

				{%- block content %}
				{% set i = 0 %}
				{%- for p in param %}

					<tbody>

						<tr style=\"background:rgb(255,255,255)\">
							<td width="30px"></td>
							<td>
							<button class="btn btn-default btn-block" onclick="hide({{ loop.index0 }})">{{ p.th[0] }}</button>
							</td>
							<td width="90px">{{ p.th[1] }}</td>
						</tr>
					</tbody>

					<tbody id={{ loop.index0 }} hidden>

						{% for subth in p.subths %}
						  
						<tr style="background:rgb(255,255,255)">
							<form method="post">

								<td width="30px"><input type="checkbox" name="a" value="checkbox" id={{ subth[2] }}></td>
								<td>{{ subth[0] }}</td>
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							</form>
							<td>{{ subth[1] }}</td>
						</tr>

						{%- endfor %}
					</tbody>
					
				{%- endfor %}
				{%- endblock content %}

			</table>
			
		</div>

	</body>
</html>