﻿<!DOCTYPE HTML>
<html>
	<head>
		<title>Выбранный вопрос</title>

		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


		<script>
			function hide(id){
			//Если элемент с id-шником element_id существует
				if (document.getElementById(id)) { 
					//Записываем ссылку на элемент в переменную obj
					var obj = document.getElementById(id); 
					//Если css-свойство display не block, то: 
					if (obj.hidden==true) { 
						obj.hidden=false;
					}
					else { 
						obj.hidden=true
					}
				}
			}
			
			function sort1(id){
				var obj = document.getElementById(id);
				if(obj){
					obj.style.color = "red";
				}
			}
			function countRabbits() {
			  for(var i=1; i<=3; i++) {
				alert("Кролик номер " + i);
			  }
			}
		</script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="navbar navbar-inverse navmenu-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" style="background-image:linear-gradient(to top,#e0e0e0,#fff);border-color:rgb(235,235,235);width:100%;height:100%" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
							<span class="sr-only">Открыть навигацию</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="responsive-menu">
						<ul class="nav navbar-nav">
							<li><a class="navbar-brand" href="/">Home</a></li>
							<li><a class="navbar-brand" href="/articles">Articles</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">SORTING<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a onclick="parent.location='../questions?search={{ request.args.get('search') }}&checkboxes={{ request.args.get('checkboxes') }}&search_by=sort1'">Сортировать по числу ответов</a></li>
									<li><a onClick="parent.location='../questions?search={{ request.args.get('search') }}&checkboxes={{ request.args.get('checkboxes') }}&search_by=sort2'">Сортировать по дате</a></li>
									<li><a onClick="parent.location='../questions?search={{ request.args.get('search') }}&checkboxes={{ request.args.get('checkboxes') }}&search_by=sort3'">Сортировать по длине вопроса</a></li>
									<li><a onClick="parent.location='../questions?search={{ request.args.get('search') }}&checkboxes={{ request.args.get('checkboxes') }}&search_by=sort4'">Сортировать по популярности темы</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	


		<div class="container">
			<div class="row">
			<form class="form-search" action="/questions" autocomplete="on">
				<div class="input-group">
				<input class="form-control" id="appendedInputButton" type="text" name="search" placeholder="Search.." >
				<div class="input-group-btn">
				<button name='search_by' id="search_by" type="submit" value="Найти" class="btn btn-default ">Найти</button>
				</div>
				<label class="checkbox inline"><input id="check_text" type="text" name="checkboxes" value={{ request.args.get('checkboxes') }} hidden></label>
				</div>		
            </form>

            {% if request.args.get('search') %}
            	<tr>По запросу <strong>{{ request.args.get('search') }}</strong> найдено {{ size }} вопросов:</tr>
            {% endif %}
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th width="30px">#</th>
							<th>вопрос</th>
							<th width="90px">ответов</th>
							<th width="90px">популярность</th>
							<th width="110px">дата</th>
						</tr>
					</thead>

					{%- block content %}
					{%- for p in param %}
						<tbody>
							<tr style="background:rgb(255,255,255)">
								<td width="30px"><strong>{{ loop.index }}</strong></td>
								<td><button style="width:100%;heigth:100%" onclick="hide({{ loop.index0 }})">{{ p.q_short | capitalize}}</button></td>
								<td width="90px">{{ p.count }}</td>
								<td width="90px">{{ p.q_weigth }}</td>
								<td width="90px">{{ p.q_date }}</td>
							</tr>
						</tbody>
						<tbody id={{ loop.index0 }} hidden>
							<tr style="background:rgb(255,255,255)">
							<td colspan=6><a href="/answers?num={{ p.q_num }}" style="text-decoration:none; color: rgb(0,0,0)">{{ p.q_full }}</a></td>
							</tr></a>
						</tbody>

					{%- endfor %}
					{%- endblock content %}
				</table>
			</div>
		</div>
	</body>
</html>